.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #f2f2f2; /* Gris */
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card-img-top {
  height: 250px;
	box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2); /* A침ade sombra difuminada debajo de la imagen */
}

.product-title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-container {
  display: flex;
  gap: 0 20px;
  justify-content: center;
  padding: 10px;
}

.card-button {
  white-space: nowrap; /* Evita que el texto se envuelva */
  padding: .375rem .75rem; /* Ajusta el padding del bot칩n */
}

.text-success {
  color: #006400; /* Verde oscuro */
}

.btn-success {
  background-color: #006400; /* Verde oscuro */
  border-color: #006400; /* Verde oscuro */
}

.btn-success:hover {
  background-color: #004c00; /* Verde m치s oscuro */
  border-color: #004c00; /* Verde m치s oscuro */
}