.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  background-color: #f2f2f2;
}

.img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card-img-top {
  height: 250px;
	box-shadow: 0 8px 10px -5px rgba(0,0,0,0.2);
}

.product-title {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-container {
  display: flex;
  gap: 0 20px;
  justify-content: center;
  padding: 10px;
}

.card-button {
  white-space: nowrap; 
  padding: .375rem .75rem; 
}

.text-success {
  color: #006400; 
}

.btn-success {
  background-color: #006400; 
  border-color: #006400; 
}

.btn-success:hover {
  background-color: #004c00;
  border-color: #004c00; 
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  color: #006400;
}